<%=/* Article Full */%> 
<%=/* Shown when a post is clicked on. */%> 
<%=/* Shows the full post. */%>

<div id="blog-post">
  <section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%- item.title || item.link%>
        </h1>
        <h2 class="subtitle">
          <%= item.date.format(config.date_format) %>
        </h2>

        <%- partial('article-categories', {item: item}) %> <%-
        partial('article-tags', {item: item}) %>
      </div>
    </div>
  </section>

  <div id="content">
    <%- item.content %>
  </div>

  <%- partial('mod/disqus_comments') %>
</div>
