<%=/* Article excerpt */%>
<%=/* Creates a little overview over a post. */%>

<a href="<%- config.root %><%- item.path %>"></a>
    <article class="message">
        <div class="message-header">
            <%- item.title %>
        </div>
        <p>
            <%- item.excerpt || item.content %>
        </p>
        <p>
            <a href="<%- config.root %><%- item.path %>">
                <%= theme.excerpt_link %>
            </a>
        </p>
    </article>
</a>